<% layout("/layouts/boilerplate")  %>
<body>
    <h3>Edit your Listing </h3>
    <div class="creListing">
        <div class="addform">
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="add-form  needs-validation" novalidate>
    
                <div class="ti">
                  <label for="title">Title</label>
                  <br>
                  <input name="listing[title]" value="<%= listing.title%>" id="title" type="text" required />
                </div>
                <br>
                <div class="de">
                  <label for="description">Description</label>
                  <br>
                  <textarea name="listing[description]" required id="description"><%= listing.description %></textarea>
                  <div class="invalid-feedback">
                    Please enter a short description .
                  </div>
                </div>
                <br>
                <div class="im">
                  <label for="image">Image</label>
                  <br>
                  <input name="listing[image]"  value="<%= listing.image%>" id="image" type="text" required />
                  <div class="invalid-feedback">
                    Please attached image .
                  </div>
                </div>
                <br>
                <div class="p-c">
                  <div class="pr">
                    <label for="price">Price</label>
                    <br>
                    <input name="listing[price]" value="<%= listing.price%>" id="price" type="number" required />
                    <div class="invalid-feedback">
                      Please enter a valide price .
                    </div>
                  </div>
                  <div class="cou">
                    <label for="Countery">Countery</label>
                    <br>
                    <input name="listing[country]" value="<%= listing.country%>" id="country" type="text" required />
                    <div class="invalid-feedback">
                      Countery should be right.
                    </div>
                  </div>
                </div>
                <br>
                <div class="lo">
                  <label for="location">Location</label>
                  <br>
                  <input name="listing[location]" value="<%= listing.location%>" id="location" type="text" required />
                  <div class="invalid-feedback">
                    Location should be right. 
                  </div>
                </div>
                <br>
                <button class="addbtn" role="button">
                  <span class="text">Update</span>
                </button>
              </form>
        </div>
       
    </div>
    <script src="/js/script.js"></script>
    
</body>