<% layout("/layouts/boilerplate")  %>
<body>

  <div class="listing-cont">
    <h3 class="l-c-h"><%= listing.title %></h3>
    <div class="listinginfo">

      <div class="li-im">
        <img src="<%= listing.image %>" alt="Place pick" >     
      </div>
      <br>
      <div class="li-des">
       <b>Description :</b>
        <%= listing.description %>
      </div>
      <br>
      <div class="li-pr">
        <b>Price :</b>
        &#8377; <%= listing.price%>/night
      </div>
      <br>
      <div class="li-adr">
        <b>Countery:</b><%= listing.country %>&nbsp;&nbsp;&nbsp;
        <b>Location:</b><%= listing.location %>
      </div>
      <br>
      <div class="li-btn">
        <div class="editbtn">
          <a href="/listings/<%=listing._id %>/edit">
            <button class="addbtn" role="button">
              <span class="text">Edit</span>
            </button>
          </a>

        </div>
        <div class="delete-btn">
          <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="detbtn" role="button">Delete</button>
          </form>
        </div>
      </div>
    </div>
    <hr style="width: 100%; border: 3px solid black;">    
    <div class="review">

      <div class="reviewinfo">
        <p><b>Reviews</b></p>
        <br>
        <div class="reviewscard">
          <% for(review of listing.reviews){ %>
            <div class="reviewcard col-5 ms-3 mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= review.commentby %></h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="card-text"><%= review.rating %>stars</p>
              </div>
              <form 
                method="POST" 
                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button class="btn btn-sm btn-outline-secondary">Delete</button>
              </form>

              </div>
          <% } %>
        </div>

      </div>


      <div class="reviewform">
        <h4>Leave a Review</h4>
        <form method="POST" action="/listings/<%= listing._id %>/reviews"
          novalidate class=" needs-validation" >
          
          <div class="comm-by">
            <label for="commentby" class="comment-by"></label>
            <input name="review[commentby]" placeholder="enter use id" id="commentby" type="text" />
          </div>

          <div class="mb-3 rating-range">
            <label for="rating" class="form-label mb-2">Rating</label>
            <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]"/>
          </div>
          <div>
            <label for="comment" class="form-label">Comments</label>
            <textarea 
             name="review[comment]"
             id="comment"
             cols="15"
             rows="5"
             class="form-control"
             required
             ></textarea> 
             <div class="invalid-feedback">
             Please write any Comment 
            </div>        
          </div>

          <button  class="btn btn-outline-dark mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
